<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class='modal-dialog' style="width: 80%">
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden="true">
                    <span aria-hidden='true'>×</span>
                </button>
                <h4 class='modal-title'>
                  {{#if title}}
                      {{{title}}}
                  {{/if}}
                </h4>
            </div>
            <div class='modal-body'>
              {{#if message}}
                  <span>{{{message}}}</span>
              {{/if}}
            </div>
            {{#if buttonHide}}
              <div class='modal-footer'></div>
            {{else}}
              <div class='modal-footer'>
                  {{#if cancelButton}}
                  <button id="cancelButton" class="btn btn-default cancel-button">取消</button>
                  {{else}}
                  <button id="cancelButton" data-dismiss="modal"  class="btn btn-default cancel-button">取消</button>
                  {{/if}}
                  <button id="confirmButton"  class="btn btn-primary save-button">确定</button>
              </div>
            {{/if}}
        </div>
    </div>
</div>
