<div    id="loading-pop"
        style="
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        zIndex: 10000;
">
    <i style="
              position: absolute;
              top: 40%;
              left: 50%;
              color: white;
              fontSize: 5rem;
              "
       class='fa fa-refresh fa-spin' >
    </i>
</div>
