<ul class="profile-list">
</ul>
<div class="menu-panel">
  <section class="main-menu">
    <h4>MENU</h4>
    <ul>
    {{#each menus}}
      <li class="{{#if active}}active{{/if}}">{{name}}</li>
    {{/each}}
    </ul>
  </section>
  <section class="search-bar">
    <input placeholder="Search" />
  </section>
  <section class="friend-list">
    <h4>FRIENDS</h4>
    <ul>
      <li>
        Caroline
      </li>
      <li>
        Claire
      </li>
      <li>
        Lina
      </li>
      <li>
        Jason
      </li>
      <li>
        Dash
      </li>
      <li>
        Jessica
      </li>
    </ul>
  </section>
</div>
