<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Created with <b>wd-web</b>
  </div>
  <strong>Copyright &copy; 2016 <a href="http://wanda.cn">Wanda Group</a>.</strong> All rights reserved.
</footer>
